// Settings
body {
	margin: 0;
	box-sizing: border-box;
	font-family: $font-primary;
	font-size: 16px;
	min-height: 100vh;
	background-color: var(--color-primary-bg);
}
ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
h1, h2, h3, h4, h5, h6, a {
	font-family: $font-secondary;
	margin: 0;
}

p {
	margin: 0;
}
.main-container {
	padding: 20px 0;
	margin: $navbar-height 0 30px 10%;
	@media screen and (max-width: 992px) {
		margin: $navbar-height 0 30px 5%;
	}
}

.toggle-darkmode-newlist-group {
	width: 320px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
