@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&family=Open+Sans");
:root {
  --color-primary-bg: $color-white;
  --color-secondary-bg: $color-f1f1f1;
  --color-input-bg: $color-white;
  --color-primary-writing: $color-323232;
  --color-medium-writing: $color-555555;
  --color-light-writing: $color-888888;
  --color-writing-hover: $color-555555;
  --color-todo-border: $color-CCCCCC;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  background-color: var(--color-primary-bg);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

.main-container {
  padding: 20px 0;
  margin: 60px 10% 30px;
}

@media screen and (max-width: 992px) {
  .main-container {
    margin: 60px 0 30px 5%;
  }
}

.toggle-darkmode-newlist-group {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #555555;
          box-shadow: inset 0 0 5px #555555;
  background-color: #F1F1F1;
  border-radius: 2.5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: .7;
}

header {
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #000000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

header .app-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .app-name i.bi.bi-clipboard-data {
  font-size: 30px;
  margin: 0 10px 5px 0;
}

header .app-name h1 {
  margin: 0;
  font-size: 2.2em;
  text-transform: uppercase;
  font-family: "Indie Flower", cursive;
}

.add-new-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary-writing);
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  text-transform: uppercase;
}

.add-new-list:hover {
  color: var(--color-writing-hover);
}

.add-new-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  width: 150px;
  font-size: .9rem;
  font-weight: 500;
  color: var(--color-primary-writing);
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  text-transform: uppercase;
}

.add-new-todo:hover {
  color: var(--color-writing-hover);
}

.button, button {
  font-family: 'Open Sans';
  border: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: .8rem;
  color: #F1F1F1;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity transform .3s ease-in-out;
  transition: opacity transform .3s ease-in-out;
}

.button:hover, button:hover {
  opacity: .8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button.button-red, button.button-red {
  background-color: #BF0B3B;
}

.button.button-green, button.button-green {
  background-color: #238C2A;
}

.button.button-dark, button.button-dark {
  background-color: #323232;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card-grid {
  width: 100%;
}

.card-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: calc(75vh + 40px);
  padding: 0 20px 20px 0;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-list {
  width: 280px;
  min-height: 40px;
  max-height: 75vh;
  cursor: move;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--color-secondary-bg);
  -webkit-box-shadow: 3px 3px 6px #888888;
          box-shadow: 3px 3px 6px #888888;
  color: var(--color-primary-writing);
}

.card-list#new-list {
  display: none;
  margin: 0 20px 20px 0;
}

.card-list#new-list.show {
  display: block;
  position: relative;
}

.card-list#new-list a.fa.fa-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card-list .card-list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-list .card-list-title button {
  border: none;
  padding: 0;
  margin-left: 5px;
  cursor: pointer;
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-list .card-list-title button, .card-list .card-list-title a {
  font-size: 1.6rem;
  margin-left: 5px;
  color: var(--color-primary-writing);
  -webkit-transition: -webkit-transform color .3s ease-in-out;
  transition: -webkit-transform color .3s ease-in-out;
  transition: transform color .3s ease-in-out;
  transition: transform color .3s ease-in-out, -webkit-transform color .3s ease-in-out;
  display: none;
}

.card-list .card-list-title button.show, .card-list .card-list-title a.show {
  display: inline-block;
}

.card-list .card-list-title button:hover, .card-list .card-list-title a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--color-writing-hover);
}

.card-list .card-list-title h2 {
  width: calc(100% - 60px);
  font-size: 1.5rem;
  font-weight: 500;
  display: none;
}

.card-list .card-list-title h2.show {
  display: block;
}

.card-list .card-list-title input.input-title {
  height: 33px;
  width: calc(100% - 60px);
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 3px 6px #AAAAAA;
          box-shadow: inset 0 3px 6px #AAAAAA;
  border: none;
  outline: none;
  display: none;
}

.card-list .card-list-title input.input-title.show {
  display: block;
}

.card-list.hovered {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.todo-container {
  max-height: calc(75vh - 145px);
  overflow-y: auto;
  padding-right: 5px;
}

.card-todo {
  padding: 20px 10px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: initial;
  border: 0.5px solid var(--color-todo-border);
  background-color: var(--color-primary-bg);
  position: relative;
}

.card-todo .card-todo-color {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-todo .card-todo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.card-todo .card-todo-title h3 {
  font-size: .9rem;
  font-weight: 500;
}

.card-todo .card-todo-title .button-action-group button {
  border: none;
  padding: 0;
  margin-left: 5px;
  cursor: pointer;
}

.card-todo .card-todo-title .button-action-group button, .card-todo .card-todo-title .button-action-group a {
  font-size: 1.1rem;
  margin-left: 5px;
  color: var(--color-primary-writing);
  -webkit-transition: -webkit-transform color .3s ease-in-out;
  transition: -webkit-transform color .3s ease-in-out;
  transition: transform color .3s ease-in-out;
  transition: transform color .3s ease-in-out, -webkit-transform color .3s ease-in-out;
  display: none;
}

.card-todo .card-todo-title .button-action-group button.show, .card-todo .card-todo-title .button-action-group a.show {
  display: inline-block;
}

.card-todo .card-todo-title .button-action-group button:hover, .card-todo .card-todo-title .button-action-group a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--color-writing-hover);
}

.card-todo p.card-todo-content {
  font-family: "Lato", sans-serif;
  font-size: .9rem;
  text-align: justify;
  color: #888888;
  max-height: 50px;
  overflow-y: auto;
  padding-right: 5px;
}

.card-todo .card-todo-footer {
  font-size: .8rem;
  font-weight: 500;
  color: var(--color-medium-writing);
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card-todo .card-todo-footer span {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-left: 5px;
}

.modal {
  background-color: rgba(50, 50, 50, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90000;
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: visible;
  opacity: 1;
}

.modal-content {
  max-width: 250px;
  margin: auto;
  position: relative;
  text-align: center;
  font-weight: 500;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-secondary-bg);
  -webkit-box-shadow: 3px 3px 6px #CCCCCC;
          box-shadow: 3px 3px 6px #CCCCCC;
  color: var(--color-primary-writing);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.modal-header {
  font-size: 45px;
}

.modal-body {
  margin: 20px auto 30px;
  font-size: 1.2rem;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progressbar-group {
  padding: 10px 0 20px;
}

.progressbar-group .progressbar-text {
  font-family: "Open Sans", sans-serif;
  font-size: .8rem;
  text-align: right;
  margin-bottom: 5px;
}

.progressbar-group .progressbar-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progressbar-group .progressbar-content {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.15);
  position: relative;
}

.progressbar-group .progressbar-progression {
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.15);
  background-color: rgba(35, 140, 42, 0.9);
}

.todo-form {
  width: 80%;
  max-width: 800px;
  position: relative;
  padding: 80px 40px 40px;
  border-radius: 10px;
  background-color: var(--color-secondary-bg);
  -webkit-box-shadow: 3px 3px 6px #CCCCCC;
          box-shadow: 3px 3px 6px #CCCCCC;
  color: var(--color-primary-writing);
}

.todo-form .todo-form-control {
  display: block;
}

.todo-form .modal-close {
  z-index: 10;
  color: #323232;
}

.todo-form label {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

.todo-form input[type="text"],
.todo-form textarea {
  width: calc(100% - 20px);
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 3px 6px #AAAAAA;
          box-shadow: inset 0 3px 6px #AAAAAA;
  border: none;
  outline: none;
  display: none;
  margin: 5px auto 20px;
  display: block;
  color: #555555;
  background-color: var(--color-input-bg);
}

.todo-form input[type="text"]:focus,
.todo-form textarea:focus {
  border: 2px solid #1835D9;
  -webkit-box-shadow: 0 0 6px #1835D9;
          box-shadow: 0 0 6px #1835D9;
}

.todo-form input[type="text"] {
  height: 35px;
  padding: 0 10px;
}

.todo-form textarea {
  padding: 10px;
  resize: none;
  height: 200px;
}

.todo-form .status-color-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.todo-form .status-color-group input[type="radio"] {
  display: none;
}

.todo-form .status-color-group .status-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.todo-form .status-color-group .status-group .button-radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
}

.todo-form .status-color-group .status-group .button-radio-group .inline-radio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.todo-form .status-color-group .status-group .button-radio-group .inline-radio-item label.todo-custom-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-form .status-color-group .status-group .button-radio-group .inline-radio-item label.todo-custom-input span {
  position: relative;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3);
}

.todo-form .status-color-group .status-group .button-radio-group .inline-radio-item label.todo-custom-input span:after {
  content: "";
  position: absolute;
  background-color: #555555;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.todo-form .status-color-group .status-group .button-radio-group .inline-radio-item span.status-color {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  margin-right: 5px;
}

.todo-form .status-color-group .status-group .button-radio-group .inline-radio-item span.status-color + label {
  font-size: .9rem;
}

.todo-form .status-color-group .status-group .button-radio-group .inline-radio-item input[type="radio"]:checked + label span:after {
  opacity: 1;
}

.todo-form .status-color-group .color-group .button-color-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-form .status-color-group .color-group .button-color-group label {
  display: block;
  height: 20px;
  width: 20px;
  margin: 5px 2px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.todo-form .status-color-group .color-group .button-color-group .headband {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #323232;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.todo-form .status-color-group .color-group .button-color-group .headband h1 {
  text-transform: uppercase;
  font-family: "Indie Flower", cursive;
}

.todo-form .status-color-group .color-group .button-color-group input[type="radio"]:checked + label .headband {
  opacity: 1;
  visibility: visible;
}

.message-alert {
  top: calc(-60px);
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  color: #F1F1F1;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px #CCCCCC;
          box-shadow: 0 3px 6px #CCCCCC;
  padding: 10px;
  opacity: 1;
  visibility: visible;
  -webkit-animation: show-alert 1.5s ease 1 forwards, hidde-alert 1s 6s ease forwards;
          animation: show-alert 1.5s ease 1 forwards, hidde-alert 1s 6s ease forwards;
}

.message-alert span {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.message-alert p {
  font-family: 'Open Sans';
  font-size: .8rem;
  font-weight: 500;
  max-width: 75%;
}

.message-alert-success {
  background-color: #238C2A;
}

@-webkit-keyframes show-alert {
  to {
    top: 80px;
  }
}

@keyframes show-alert {
  to {
    top: 80px;
  }
}

@-webkit-keyframes hidde-alert {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes hidde-alert {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.toggle-darkmode {
  width: 42px;
  height: 22px;
  background-color: #555555;
  border-radius: 13px;
  border: 2px solid #555555;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8), 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8), 0 3px 6px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.toggle-darkmode .icon-sun-toggle-darkmode {
  margin: 0 2px;
}

.toggle-darkmode .icon-moon-toggle-darkmode {
  margin: 0 3.8px;
}

.toggle-darkmode input[type="checkbox"]#ball-darkmode {
  display: none;
}

.toggle-darkmode span.ball-darkmode {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 1px;
  left: 1px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: left .2s ease-in-out;
  transition: left .2s ease-in-out;
  cursor: pointer;
}

.toggle-darkmode input[type="checkbox"]#ball-darkmode:checked + label span.ball-darkmode {
  left: 21px;
}
/*# sourceMappingURL=index.css.map */