<div class="modal" id="modal-delete" role="dialog">
  <div class="modal-content">
    <a href="#" class="modal-close fa fa-close" role="button" data-dismiss="dialog"></a>
    <div class="modal-header">
        <i class="fa fa-warning"></i>
    </div>
    <div class="modal-body">
      <p></p>
    </div>
    <div class="modal-footer">
      <a href="#" class="button button-green btn-close" role="button" data-dismiss="dialog"><i class="fa fa-close"></i>&nbsp;annuler</a>
      <a href="#" class="button button-red" role="button"><i class="fa fa-trash"></i>&nbsp;supprimer</a>
    </div>
  </div>
</div>