header {
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: $navbar-height;
  background-color: $color-black;
  color: $color-white;
  display: flex;
  align-items: center;
  padding: 0 5%;
  .app-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    i.bi.bi-clipboard-data {
      font-size: 30px;
      margin: 0 10px 5px 0;
    }
    h1 {
      margin: 0;
      font-size: 2.2em;
      text-transform: uppercase;
      font-family: $font-app-name;
    }
  }
}